#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
    dataSource:
        rss:
            url: 'http://www.blesk.cz/rss'

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	DataSource:
	    class: App\Parser\RssDataSource(%dataSource%)

	Parser: App\Parser\Parser

